page-details {
    ion-card{
        width:100% !important;
        margin:auto !important;
    }

    .myimg{
        width:100%;
        margin:auto;
    }

    .iconYellow{
        color:yellow;
    }
}
